@font-face {
    font-family: 'Odin Regular';
    src: url('assets/fonts/LarkeRegular.ttf');
}

* {
    font-family: 'Odin Regular';
    margin: 0;
}

body {
    overflow-x: hidden;
}

header {
    padding: 1vw 2vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgb(195,224,210);
}

h1 {
    font-size: 3.5em;
    color: rgb(38, 165, 112);
    cursor: pointer;
}

#social-media i {
    padding: 0 0.5vw;
    color: rgb(38, 165, 112);
    font-size: 1.7em;
    animation-duration: 300;
    background-color: transparent;
    transition-duration: 300ms;
}

#social-media i:hover {
    opacity: 0.7;
}

#hero {
    padding-bottom: 10vh;
    padding-top: 10vh;   
    background: rgb(195,224,210);
    background: linear-gradient(180deg, rgba(195,224,210,1) 60%, rgba(255,255,255,1) 100%);     
    display: flex;
    justify-content: center;
    align-items: center;
}

#hero img {
    margin-left: 3vw;
    height: 60vh;
    border-radius: 4vw;
}

#hero h3 {
    font-weight: 900;

    width: 30vw;
    font-size: 3.5em;
    margin: 0;
}

#hero h4 {
    width: 30vw;
    font-size: 1.2em;
    font-weight: 100;
    margin-top: 1.5vh;
}

#hero button {
    box-shadow: 0 20px 35px rgba(0,0,0,0.3);
    margin-top: 3vh;
    padding: 1vw 2vw;
    border-radius: 1.4vw;
    font-size: 1.3em;
    border: none;
    color: white;
    background-color: rgb(38, 165, 112);
    position: relative;
    overflow: hidden;
    transition: all 500ms ease-in-out;
}

#hero button:after{
    content: '>';
    font-size: 1.3em;
    position: absolute;
    right: -1vw;
    line-height: 1.1;
    opacity: 0;
    transition: all 500ms ease-in-out;
}

#hero button:hover {
    padding-left: 1.5vw;
    padding-right: 2.5vw;
}

#hero button:hover:after{
    right: 1vw;
    opacity: 1;
}

#about-me {
    margin: 7vw 15vw;
}

#about-me div {
    margin-top: 4vw;
    display: flex;
}

#about-me div img {
    border-radius: 1vw;
    width: 48%;
    height: 35vw;
    margin: 0 1vw;
}

#about-me div p {
    width: 48%;
    height: 35vw;
    margin: 0 1vw;
    text-align: justify;
    font-size: 1.3em;
}

footer p {
    margin-top: 3vw;
    padding: 0.3vw 1vw;
    text-align: center;
    color: white;
    font-size: 1.5em;
    background-color: black;
}