/* Set padding and margin mor evry element to 0, good practice */
* { 
    margin: 0;
    padding: 0; 
}

/* Set custom Google font for whole page */
body {
    font-family: 'Montserrat';
}

/* Customize title, only one h1 per page */ 
h1 {
    margin-left: 1vw;
    font-size: 3em;
    font-weight: 350;
}

/* Costumize header with custom gradient */
header {
    padding-top: 1vw;
    /* Gradient background generator: https://cssgradient.io/ */
    background: rgb(149,157,255);
    background: linear-gradient(180deg, rgba(149,157,255,1) 0%, rgba(255,255,255,1) 100%); 
    height: 30vw;
}

/* Setting position for body */
#content {
    position: absolute;
    top: 15vw;
    left: 0;
    right: 0;
}

/* Set evry image - description to a flex line */
.content-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

/* Customize image */
.content-image {
    border-radius: 2vw;
    width: 30vw;
    height: 30vw;
    object-fit: cover;
}

/* Castumized description */
.content-description {
    width: 30vw;
    height: 30vw;
    padding: 2vw;
    font-size: 1.7em;
}